# Remove JetBrains GoLAND noise
.idea/
/.../.idea/
## Remove locally built services
/services/systemservice/systemservice
/services/frontend/frontend
/services/routeguideservice/routeguideservice
/services/routeguideservice/client/client

## Ignore the vendor directory within each module
vendor/

## Ignore anything put in an archive directory
archive/

